/*
 * Einfache Funktion die einen Klick Event an den Canvas bindet
 * Methode nutzt intern ein Image Objekt
 * @author Lukas Stephan Rieger
 * @version v0.1
 */ 
body{
  background: linear-gradient(90deg, #B77A43 0%,  #2b6200 100%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

  
  /* The typing effect */
  @keyframes typing1 {
    from { width: 0% ;}
    80%{width: 80%;}
    to { width: 100% }
    
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
  }
 .test div{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: wrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.03em; /* Adjust as needed */
    animation: 
      typing1 1.0s steps(40, end);
    float: center;
    margin-left: 0%;
    line-break: auto;
    width: 250%;
      /*blink-caret .75s step-end infinite;*/
  }
  /* Das ist mein Textanimiereffekt für die vom Json zurückgegebenen Daten */
  .typewriterinput{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing1 1.5s steps(50, end),
      
  }
/* Texteingabefeld */
  #textinput{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 1vw;
  }
/* Textausgabefeld */
  #textoutput{
    position: absolute;
    background-color: #6F3211;
    border-radius: 10%;
    top: 35%;
    left: 5%;
    width: 35vw;
    overflow-y: auto;
    overflow-x: hidden;
    height: 30vw;
    font-size: 1.2vw;
    color: wheat;
  }
  /* hier wird die JSON nachricht reingeschrieben */
  #msgs{
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    float: left;
    width: 23%;
    left: 5%;
    top: 2%;
    bottom: 10%;
  }
  /* Style des Headers*/
  header{
    position: absolute;
    top: 1%;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 8vw;
    margin-bottom: 10%;
  }
  
  header h1{
    font-size: 1.5vw;
  }

/* Style für Labyrinth*/
  #maze{
   position: relative;
   z-index: 1;
  width: 100%;
 }
/* Style für den Pfeil */
 #point{
   position: absolute;
   display: block;
   left: 48%;
   top: 95%;
   width: 4%;
   z-index: 4;
 }
/* Style für das ganze Labyrinth */
 #mapandpoint{
  position: absolute;
  top: 35%;
  left: 60%;
  width: 25%;
}
/* Style für die Schriftrolle */
#schriftrolle{
  position: absolute;
  transform: rotate(-3deg);
  width: 35%;
  left: 27%;
  top: 30%;
}
/* ab hier werden alle CSS Boxen über dem Labyrinth platziert */
.blackbox{
  position: absolute;
  width: 8.5%;
  height: 8.5%;
  background-color: #B77A43;
  z-index: 3;
  opacity: 100%;
 
}
#bigblackbox{
  position: absolute;
  background-color: #B77A43;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
#blackboxstart{
  top: 92%;
  left: 46%;
  background-color: red;
}
#blackboxend{
  top: -1%;
  left: 46%;
  background-color: red;
}
#blackbox1{
  top: 84.5%;
  left: 46%; 
}
#blackbox2{
  top: 84.5%;
  left: 53.8%;
}
#blackbox3{
  top: 84.5%;
  left: 61.6%;
}
#blackbox4{
  top: 84.5%;
  left: 69.4%;
}
#blackbox5{
  top: 84.5%;
  left: 77.2%;
}
#blackbox6{
  top: 84.5%;
  left: 85%;
}
#blackbox7{
  top: 84.5%;
  left: 38.2%;
}
#blackbox8{
  top: 84.5%;
  left: 22.4%;
}
#blackbox9{
  top: 84.5%;
  left: 14.6%;
}
#blackbox10{
  top: 84.5%;
  left: 6.8%;
}
#blackbox20{
  top: 76.7%;
  left: 6.8%;
}
#blackbox21{
  top: 76.7%;
  left: 22.4%;
}
#blackbox22{
  top: 76.7%;
  left: 38.2%;
}
#blackbox23{
  top: 76.7%;
  left: 69.4%;
}
#blackbox24{
  top: 76.7%;
  left: 85%;
}
#blackbox30{
  top: 68.9%;
  left: 6.8%;
}
#blackbox31{
  top: 68.9%;
  left: 22.4%;
}
#blackbox32{
  top: 68.9%;
  left: 30.4%;
}
#blackbox33{
  top: 68.9%;
  left: 38.2%;
}
#blackbox34{
  top: 68.9%;
  left: 53.8%;
}
#blackbox35{
  top: 68.9%;
  left: 61.6%;
}
#blackbox36{
  top: 68.9%;
  left: 69.4%;
}
#blackbox37{
  top: 68.9%;
  left: 85%;
}
#blackbox40{
  top: 61.1%;
  left: 85%;
}
#blackbox41{
  top: 61.1%;
  left: 53.8%;
}
#blackbox42{
  top: 61.1%;
  left: 38.2%;
}
#blackbox43{
  top: 61.1%;
  left: 6.8%;
}
#blackbox50{
  top: 53.3%;
  left: 6.8%;
}
#blackbox51{
  top: 53.3%;
  left: 14.6%;
}
#blackbox52{
  top: 53.3%;
  left: 22.4%;
}
#blackbox53{
  top: 53.3%;
  left: 53.8%;
}
#blackbox54{
  top: 53.3%;
  left: 61.6%;
}
#blackbox55{
  top: 53.3%;
  left: 69.4%;
}
#blackbox60{
  top: 45.5%;
  left: 22.4%;
}
#blackbox61{
  top: 45.5%;
  left: 38.2%;
}
#blackbox62{
  top: 45.5%;
  left: 53.8%;
}
#blackbox63{
  top: 45.5%;
  left: 69.4%;
}
#blackbox64{
  top: 45.5%;
  left: 77.2%;
}
#blackbox65{
  top: 45.5%;
  left: 85%;
}
#blackbox70{
  top: 37.8%;
  left: 6.8%;
}
#blackbox71{
  top: 37.8%;
  left: 22.4%;
}
#blackbox72{
  top: 37.8%;
  left: 38.2%;
}
#blackbox73{
  top: 37.8%;
  left: 46%;
}
#blackbox74{
  top: 37.8%;
  left: 53.8%;
}
#blackbox75{
  top: 37.8%;
  left: 85%;
}
#blackbox80{
  top: 30%;
  left: 6.8%;
}#blackbox81{
  top: 30%;
  left: 69.4%;
}
#blackbox82{
  top: 30%;
  left: 77.2%;
}
#blackbox83{
  top: 30%;
  left: 85%;
}
#blackbox90{
  top: 22.2%;
  left: 6.8%;
}
#blackbox91{
  top: 22.2%;
  left: 22.4%;
}
#blackbox92{
  top: 22.2%;
  left: 38%;
}
#blackbox93{
  top: 22.2%;
  left: 53.8%;
}
#blackbox94{
  top: 22.2%;
  left: 61.6%;
}
#blackbox95{
  top: 22.2%;
  left: 69.4%;
}
#blackbox96{
  top: 22.2%;
  left: 85%;
}
#blackbox100{
  top: 14.4%;
  left: 6.8%;
}
#blackbox101{
  top: 14.4%;
  left: 22.4%;
}
#blackbox102{
  top: 14.4%;
  left: 30.2%;
}
#blackbox103{
  top: 14.4%;
  left: 38%;
}
#blackbox104{
  top: 14.4%;
  left: 85%;
}
#blackbox110{
  top: 6.6%;
  left: 6.8%;
}
#blackbox111{
  top: 6.6%;
  left: 14.6%;
}
#blackbox112{
  top: 6.6%;
  left: 22.4%;
}
#blackbox113{
  top: 6.6%;
  left: 38.2%;
}
#blackbox114{
  top: 6.6%;
  left: 46%;
}
#blackbox115{
  top: 6.6%;
  left: 53.8%;
}
#blackbox116{
  top: 6.6%;
  left: 61.6%;
}
#blackbox117{
  top: 6.6%;
  left: 69.4%;
}
#blackbox118{
  top: 6.6%;
  left: 77.2%;
}
#blackbox119{
  top: 6.6%;
  left: 85%;
}











